p {
  color: #57188E;
  font-size: 18px;
  font-family: "Century";
  line-height: 150%;
    margin-left: 5%;
}
body{
  background-color: lavender;
  color: #57188E;
  /*background-image: url(background.jpg);*/
    background-repeat: repeat-y;
    background-position: top;
    font-family: "Century";

}

ul{
  color: indigo;
    list-style-type: disc;
    padding:10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
ol{
  font-family: Century;
}
a:link{
    color: blueviolet;
    text-decoration: none;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}
table{
    border: 2px solid darkmagenta;
  border-color: darkmagenta;
}
h1{
  color: blueviolet;
    padding : 20px;
  font-family: "Century";
    border-color: blue;
    border-width: 3px;
    border-style: dashed;
}
img{
    margin-right: 5%;
    position: fixed;
    left: 1070px;
    border: 2px solid blue;
    max-height: 200px;
    max-width: 200px;
}
h2, h3, h4 {
  color: blueviolet;
  font-family: "Century";
}
span{
    font-weight: bold;
}